body {
    background-color: rgb(109, 164, 209);
}

.drag{
    border: 1px solid black;
    height: 6cm;
    background-color:rgb(230, 230, 230);
}

h2, p {
    color: black;
}

.formdrag{
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;
}
h4 {
    color: black;
}

.icon{
    width: 1cm;
    height: 1cm;
    align-items: center;
}

.btn-upload{
    width: 150px; 
    height: 50px; 
    border: none; 
    border-radius: 5px; 
    background-color: rgb(197, 197, 197); 
    align-items: center;
    display:none;
}

.textarea{
    color: lightslategrey;
}

.Submit{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 120px;
}